

.filter-options {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
    margin-bottom: 20px;
    max-width: 100%;
    margin: 10px;
    box-sizing: border-box;
  }
  
  .filter-options select {
    padding: 8px 10px;
    width: auto;
  }
  
  .filter-options button {
    padding: 8px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .inventory-container {
    display: flex;
    flex-wrap: wrap;
  justify-content: space-evenly;
   
    grid-gap: 5px;
 margin-top: 10px;
 float: left;
 
     box-sizing: border-box;
  }
  .main_Container{
    box-sizing: border-box;
    width: 100%;

      margin-top: 10px;
  }
 .search{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  box-sizing: border-box;
  width: 100%;
  
 }
 .buttons{
  display: flex;
  
  height: 37px;

width: 230px;
  gap: 5px;
 }



